{
  "presets": [
    ["env", {
      "targets": {
        "chrome": "55"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-property-literals",
    "@babel/plugin-transform-member-expression-literals",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-template-literals"
  ],
  "ignore": ["assets/js/build", "assets/js/ie", "**/*.min.js"],
  "env": {
    "production": {
      "comments": false,
      "presets": [
        ["env"],
        ["minify"]
      ],
      "plugins": [
        ["transform-remove-console", {
          "exclude": ["error", "warn"]
        }]
      ]
    }
  },
  "sourceType": "module"
}
