@import url('font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Exo:wght@900&family=Lato:wght@200&display=swap');

html,
body {
  color: #f3f3f3;
  background-color: black;
  font-family: 'Lato', 'Noto Sans KR', sans-serif;
  font-weight: 200;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  padding: 6rem 6rem 0 6rem;
}

#footer {
  padding: 6rem 3rem 3rem 3rem;
  background-color: #131313;
}

h1.heading {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

.display-block {
  display: block !important;
}

a {
  cursor: none;
  color: inherit;
  pointer-events: all;
}

a:hover {
  color: inherit;
}

a.disabled,
a:hover.disabled {
  color: #333;
}

.bg-dark a.disabled {
  text-decoration: none;
}
.bg-dark a.disabled,
.bg-dark a:hover.disabled {
  color: #5a6066;
}
.bg-dark .text-muted {
  color: #949ba0 !important;
}

@media (max-width: 576px) {
  section {
    font-size: 90%;
    padding: 4rem 1rem 0 4rem;
  }

  h1.heading {
    font-size: 2rem;
  }

  #footer {
    padding-top: 3rem;
  }
}

.main-cover {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background: rgb(74, 74, 74);
  background: -moz-linear-gradient(
    135deg,
    rgba(74, 74, 74, 1) 0%,
    rgba(41, 41, 41, 1) 67%,
    rgba(31, 31, 31, 1) 100%
  );
  background: -webkit-linear-gradient(
    135deg,
    rgba(74, 74, 74, 1) 0%,
    rgba(41, 41, 41, 1) 67%,
    rgba(31, 31, 31, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(74, 74, 74, 1) 0%,
    rgba(41, 41, 41, 1) 67%,
    rgba(31, 31, 31, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a4a4a",endColorstr="#1f1f1f",GradientType=1);
  line-height: 1.75;
  height: calc(100vh + 50px);
}
.main-cover .text-hello {
  background: rgba(200, 200, 200, 0.8);
  background: linear-gradient(
    to right,
    #e3e3e3 0%,
    #f54444 20%,
    #d3de24 40%,
    #24de77 60%,
    #2499de 80%,
    #e3e3e3 100%
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hello 15s linear infinite;
}

.main-cover .heading-text {
  font-size: 4.5rem;
}

.main-cover .short-text {
  font-size: 1.75rem;
}

.main-cover .action {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding-bottom: 0.5em;
  font-size: 2em;
  animation: custom-animation 2s;
  animation-iteration-count: infinite;
}

.main-cover .action > .scrolly {
  color: inherit;
  text-decoration: none;
  margin-left: -2rem;
}

.main-cover #canvas-bg {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .main-cover {
    z-index: 95;
  }

  .main-cover .heading-text {
    font-size: 2.5rem;
  }

  .main-cover .short-text {
    font-size: 1.25rem;
  }
}

/* Divider hill style */

.dividing-hill {
  width: 100%;
  height: 50px;
  pointer-events: none;
  overflow-x: hidden;
  background-color: transparent;
}

.dividing-hill-start {
  position: absolute;
  bottom: -5px;
}

.dividing-hill-end {
  position: absolute;
  top: -5px;
  margin: 0em -3em;
}

@media (max-width: 576px) {
  .dividing-hill > svg {
    transform: scale3d(1.5, 4, 1);
  }
}

/* Container */

#awards {
  text-align: right;
}

@media (max-width: 576px) {
  .container {
    padding: 0;
  }

  #awards {
    text-align: inherit;
  }
}

/* Utils */

.small-divider {
  width: 64px;
  height: 1px;
  border-bottom: 2px solid #ccc;
  margin: 0em auto 2em auto;
}

/* Icon */

.icon {
  text-decoration: none;
  -moz-transition: background-color 0.2s ease-in-out-out,
    color 0.2s ease-in-out-out;
  -webkit-transition: background-color 0.2s ease-in-out-out,
    color 0.2s ease-in-out-out;
  -ms-transition: background-color 0.2s ease-in-out-out,
    color 0.2s ease-in-out-out;
  transition: background-color 0.2s ease-in-out-out, color 0.2s ease-in-out-out;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

.icons > a[href] {
  text-decoration: none;
}
.icon.alt {
  display: inline-block;
  border: solid 1px rgba(255, 255, 255, 0.35);
  border-radius: 100%;
  color: rgba(255, 255, 255, 0.35);
}
.icon.alt:before {
  display: block;
  font-size: 1.25em;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
}
.icon.alt:hover {
  background-color: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

/* Timeline */

.timeline {
  margin-left: -2rem;
  margin-right: 2rem;
  position: relative;
  width: 100%;
}

.timeline.right {
  margin-left: 2rem;
  margin-right: -2rem;
}

.timeline:before {
  background-color: #cccccc;
  content: '';
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 2em;
  width: 2px;
  height: 100%;
}

.timeline-event {
  position: relative;
}

.timeline-event:hover .timeline-event-icon {
  -moz-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
  background-color: #d67786;
}

.timeline-event-copy {
  padding: 0.75em 2em;
  position: relative;
  top: -0.625em;
  left: 2.5em;
  width: 100%;
}

.timeline-event-copy .company {
  font-size: 1.5em;
  margin-bottom: 0;
}
.timeline-event-copy .year {
  font-size: 0.75em;
  font-weight: normal;
  margin-bottom: 1.2em;
}
.timeline-event-copy strong {
  font-weight: 700;
}
.timeline-event-copy p:not(.timeline-event-thumbnail) {
  padding-bottom: 0;
}

.timeline-event-icon {
  -moz-transition: -moz-transform 0.2s ease-in-out;
  -o-transition: -o-transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #eaeaea;
  outline: 10px solid #000000;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: 2em;
  width: 1em;
  height: 1em;
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

/* right align */

.timeline.right:before {
  margin-left: auto;
  margin-right: -1px;
  left: auto;
  right: 3em;
}

.dark .timeline:before {
  background-color: #666666;
}

.timeline.right .timeline-event-copy {
  left: auto;
  right: 4em;
}

.timeline.right .timeline-event-icon {
  left: auto;
  right: 2em;
}

.bg-dark .timeline-event-icon {
  outline-color: #343a40;
}

.bg-dark .timeline-event:hover .timeline-event-icon {
  background-color: #e8e45e;
}

@media (max-width: 576px) {
  .timeline {
    margin-left: -4rem;
  }
  .timeline:before,
  .timeline-event-icon {
    display: none;
  }
}

/* Card */

.cards {
  display: block;
  margin: 1rem auto;
  text-align: center;
}

.cards .item {
  display: inline-block;
  width: 100px;
  height: 150px;
}

.cards .item:last-child {
  margin-right: 0;
}

.cards .item > .img {
  margin: 0 auto;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-image: url(../../images/icons.png);
  background-size: 400px;
  background-position: center center;
  background-color: #222;
  transition: transform 1000ms ease;
}

.cards .item:hover > .img {
  transform: rotateZ(360deg);
}

.cards .item > .img.html5 {
  background-position: 0px 0px;
}
.cards .item > .img.css3 {
  background-position: -80px 0;
}
.cards .item > .img.js {
  background-position: -160px 0;
}
.cards .item > .img.es6 {
  background-position: -240px 0;
}
.cards .item > .img.bootstrap {
  background-position: -320px 0;
}
.cards .item > .img.babel {
  background-position: 0px -80px;
}
.cards .item > .img.docker {
  background-position: -80px -80px;
}
.cards .item > .img.nodejs {
  background-position: -160px -80px;
}
.cards .item > .img.django {
  background-position: -240px -80px;
}
.cards .item > .img.chrome {
  background-position: -320px -80px;
}
.cards .item > .img.git {
  background-position: 0px -160px;
  background-color: transparent;
}
.cards .item > .img.express {
  background-position: -80px -160px;
}
.cards .item > .img.python {
  background-position: -160px -160px;
}
.cards .item > .img.java {
  background-position: -240px -160px;
}

.cards .item > .title {
  position: relative;
  margin-top: 0.5rem;
}

.cards .item > .title > p {
  position: absolute;
  width: 100%;
  top: 0;
  text-align: center;
  white-space: pre-line;
  word-break: initial;
}

/* Apps */

#apps .app-wrapper {
  margin-bottom: 2em;
}

.app {
  display: inline-block;
  width: 128px;
  height: 128px;
  border: 0;
  outline: 0;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: rgb(134, 134, 134, 0.05);
  transition: all 0.25s ease-in-out;
}
.app:hover {
  background-color: rgb(134, 134, 134, 0.2);
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  margin-top: 0.75em;
  margin-bottom: 1.25em;
}
.app > img {
  width: 100%;
  height: 100%;
}

.app-wrapper .details {
  display: block;
  text-align: center;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.app-wrapper .details > p {
  margin-bottom: 5px;
}

#logo-anim img {
  user-select: none;
  width: 100%;
  max-width: 360px;
  filter: invert(1);
  margin-top: -50px;
  margin-left: auto;
  margin-bottom: 0px;
  margin-right: auto;
}

/* Fix for Safari */

.row:before,
.row:after {
  display: none !important;
}

/* Overlay Menu */

#top {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 999;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
}
#top .subjects {
  margin: 0 -10rem 0 -3rem;
  color: #000000;
  word-break: break-all;
  text-transform: uppercase;
  transform: skewY(-5deg);
}
.overlay-close {
  position: absolute;
  left: 1rem;
  top: 1rem;
  fill: rgba(255, 255, 255, 0.5);
  width: 4rem;
  height: 4rem;
  transform: rotate(0deg);
  transition: transform 200ms ease-in;
  z-index: 1000;
}
.overlay-close:hover {
  fill: rgba(255, 255, 255, 1);
  transform: rotate(90deg);
}
.overlay-button > svg {
  width: 100%;
  height: 100%;
}
.overlay-show {
  position: fixed;
  top: 1.5rem;
  left: 2rem;
  fill: rgba(255, 255, 255, 0.75);
  width: 2rem;
  height: 2rem;
  mix-blend-mode: difference;
  z-index: 98;
}
.overlay-show:hover {
  fill: rgba(255, 255, 255, 1);
}
#top .title {
  color: inherit;
  font-size: 23rem;
  line-height: 15rem;
  font-family: 'Exo', sans-serif;
  text-decoration: none;
  transition: color 200ms ease-in-out;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  animation: text-gradient-animation 10s infinite;
}
#top .title:hover {
  color: white;
  animation: none;
}
#top .title:first-child {
  margin-left: 6rem;
  animation-delay: -10s;
}
#top .title:nth-child(5n) {
  animation-delay: -8s;
}
#top .title:nth-child(5n + 1) {
  animation-delay: -6s;
}
#top .title:nth-child(5n + 2) {
  animation-delay: -4s;
}
#top .title:nth-child(5n + 3) {
  animation-delay: -2s;
}
#top .title:nth-child(5n + 4) {
  animation-delay: 0s;
}

@media (min-width: 1367px) and (max-width: 1600px) {
  #top .title {
    font-size: 20rem;
    line-height: 14rem;
  }
}
@media (min-width: 1281px) and (max-width: 1366px) {
  #top .title {
    font-size: 18rem;
    line-height: 12rem;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  #top .subjects {
    margin-right: -8rem;
  }
  #top .title {
    font-size: 15rem;
    line-height: 9rem;
  }
  #top .title:first-child {
    margin-left: 6rem;
  }
  #top .overlay-close {
    width: 4rem;
    height: 4rem;
  }
}
@media (max-width: 1024px) {
  #top .subjects {
    margin-left: -1rem;
    margin-right: -6rem;
  }
  #top .title {
    font-size: 10rem;
    line-height: 6rem;
  }
  #top .title:first-child {
    margin-left: 5rem;
  }
  #top .overlay-close {
    width: 3.5rem;
    height: 3.5rem;
  }
}

@media (max-width: 992px) {
  .overlay-show {
    top: 1rem;
    left: 1rem;
  }
}

/* selection */

::selection {
  color: #020202;
  background-color: #efefef;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #020202;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #3f3f3f;
}

::-webkit-scrollbar-thumb:hover {
  background: #9f9f9f;
}

/* Loader */

.is-loading-overlay {
  display: none;
  top: 0;
  left: 0;
  z-index: 99;
  background: transparent\9;
  background: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
  zoom: 1;
  animation: text-gradient 8s linear infinite;
}

.is-loading .is-loading-overlay {
  display: block;
}

/* Cursor */

html {
  cursor: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#cursor {
  display: block;
  position: fixed;
  top: -5rem;
  left: -5rem;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: white;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 99999999999;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  transition: width 200ms ease-in, height 200ms ease-in,
    background 200ms ease-in-out;
}

/* Sidebar */

.sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 90;
  padding: 0;
  mix-blend-mode: difference;
  transition: all 200ms ease-in-out;
}

.sidebar ul {
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  list-style: none;
  pointer-events: all;
  padding: 0 0 15px;
  margin: 0 0 15px;
  border-bottom: rgba(255, 255, 255, 0.34) 1px solid;
  position: relative;
}

.sidebar ul li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.sidebar ul li > .icon {
  border: none;
  border-radius: unset;
  transition: all 200ms ease-in-out;
}

.sidebar ul li > .icon:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.9);
}

.sidebar.socials {
  right: 5.6rem;
}

.sidebar.navigator {
  top: 2rem;
  left: 2.7rem;
}
.sidebar.navigator ul li {
  border: none;
  width: 30px;
  height: 30px;
}
.sidebar.navigator a {
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}
.sidebar.navigator a > .circle {
  display: block;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}
.sidebar.navigator a.active {
  width: 22px;
  height: 22px;
}
.sidebar.navigator a.active > .circle {
  width: 18px;
  height: 18px;
  margin-left: -4px;
  background-color: white;
}

@media (max-width: 1600px) {
  .sidebar.socials {
    right: 2.5rem;
  }
}

@media (max-width: 992px) {
  .sidebar.navigator {
    left: 1.5rem;
  }
  .sidebar.socials {
    right: 2rem;
    font-size: 0.9rem;
  }
  .sidebar.socials ul li {
    margin-bottom: 8px;
  }
}

@media (max-width: 576px) {
  .sidebar.socials {
    display: block;
    height: fit-content;
    top: 0;
    left: auto;
    right: 0;
    margin-top: 1rem;
    padding-left: 4rem;
    padding-right: 1.5rem;
    text-align: right;
    z-index: 96;
  }
  .sidebar.socials ul li {
    display: inline-block;
    margin-right: 0.5rem;
    border: none;
  }
}

/* Modal */

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  z-index: 200;
}

#modal-content .error {
  text-align: center;
  font-size: 1.25em;
}

#modal-content .error > h1 {
  font-size: 5em;
}

#modal-content .error > .sorry {
  font-size: 1.5em;
  color: #f79b12;
}

#modal-content .error > .detail {
  color: #ff4545;
}

#modal-content a.button-web-store {
  text-decoration: none;
}

#modal-content ul {
  margin: 1rem auto;
  padding-left: 1rem;
  line-height: 2em;
  list-style: none;
}

.modal-close {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 200ms ease-in-out;
}

.modal-wrapper {
  position: absolute;
  top: 100%;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 3rem;
  font-weight: 300;
  color: white;
  background: #1b1b1b;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  animation: modal-up 1000ms cubic-bezier(0.67, 0, 0.33, 1);
  animation-fill-mode: both;
}

.modal-bg {
  position: absolute;
  width: 100%;
  height: 5em;
  top: 0;
}

.modal-bg:hover .modal-close,
.modal-close:hover {
  transform: translateY(0) !important;
}

@media (max-width: 576px) {
  .modal-wrapper {
    animation-name: modal-up-mobile;
  }
  .modal-bg {
    height: 30%;
  }
}

.modal-wrapper .inner,
.modal-wrapper .footer {
  position: relative;
}

.modal-wrapper .footer {
  margin-top: 5em;
  text-align: center;
}

.modal-close-button > svg {
  transform: scale(1);
  transition: transform 200ms ease;
}

.modal-close-button > svg:hover {
  transform: scale(1.5);
}

/* for IE10+ */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .main-cover .text-hello {
    color: #dddddd;
    background: transparent;
  }
}

/* Animation */

@-webkit-keyframes custom-animation {
  0% {
    opacity: 0.5;
    transform: translateY(0%);
  }
  50% {
    opacity: 1;
    transform: translateY(-15%);
  }
  100% {
    opacity: 0.5;
    transform: translateY(0%);
  }
}

@-moz-keyframes custom-animation {
  0% {
    opacity: 0.5;
    transform: translateY(0%);
  }
  50% {
    opacity: 1;
    transform: translateY(-15%);
  }
  100% {
    opacity: 0.5;
    transform: translateY(0%);
  }
}

@-o-keyframes custom-animation {
  0% {
    opacity: 0.5;
    transform: translateY(0%);
  }
  50% {
    opacity: 1;
    transform: translateY(-15%);
  }
  100% {
    opacity: 0.5;
    transform: translateY(0%);
  }
}

@keyframes custom-animation {
  0% {
    opacity: 0.5;
    transform: translateY(0%);
  }
  50% {
    opacity: 1;
    transform: translateY(-15%);
  }
  100% {
    opacity: 0.5;
    transform: translateY(0%);
  }
}

@-webkit-keyframes text-gradient-animation {
  0% {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
      1px 1px 0 #fff;
  }
  20% {
    text-shadow: -1px -1px 0 #f54444, 1px -1px 0 #f54444, -1px 1px 0 #f54444,
      1px 1px 0 #f54444;
  }
  40% {
    text-shadow: -1px -1px 0 #d3de24, 1px -1px 0 #d3de24, -1px 1px 0 #d3de24,
      1px 1px 0 #d3de24;
  }
  60% {
    text-shadow: -1px -1px 0 #24de77, 1px -1px 0 #24de77, -1px 1px 0 #24de77,
      1px 1px 0 #24de77;
  }
  80% {
    text-shadow: -1px -1px 0 #2499de, 1px -1px 0 #2499de, -1px 1px 0 #2499de,
      1px 1px 0 #2499de;
  }
  100% {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
      1px 1px 0 #fff;
  }
}

@-moz-keyframes text-gradient-animation {
  0% {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
      1px 1px 0 #fff;
  }
  20% {
    text-shadow: -1px -1px 0 #f54444, 1px -1px 0 #f54444, -1px 1px 0 #f54444,
      1px 1px 0 #f54444;
  }
  40% {
    text-shadow: -1px -1px 0 #d3de24, 1px -1px 0 #d3de24, -1px 1px 0 #d3de24,
      1px 1px 0 #d3de24;
  }
  60% {
    text-shadow: -1px -1px 0 #24de77, 1px -1px 0 #24de77, -1px 1px 0 #24de77,
      1px 1px 0 #24de77;
  }
  80% {
    text-shadow: -1px -1px 0 #2499de, 1px -1px 0 #2499de, -1px 1px 0 #2499de,
      1px 1px 0 #2499de;
  }
  100% {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
      1px 1px 0 #fff;
  }
}

@-o-keyframes text-gradient-animation {
  0% {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
      1px 1px 0 #fff;
  }
  20% {
    text-shadow: -1px -1px 0 #f54444, 1px -1px 0 #f54444, -1px 1px 0 #f54444,
      1px 1px 0 #f54444;
  }
  40% {
    text-shadow: -1px -1px 0 #d3de24, 1px -1px 0 #d3de24, -1px 1px 0 #d3de24,
      1px 1px 0 #d3de24;
  }
  60% {
    text-shadow: -1px -1px 0 #24de77, 1px -1px 0 #24de77, -1px 1px 0 #24de77,
      1px 1px 0 #24de77;
  }
  80% {
    text-shadow: -1px -1px 0 #2499de, 1px -1px 0 #2499de, -1px 1px 0 #2499de,
      1px 1px 0 #2499de;
  }
  100% {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
      1px 1px 0 #fff;
  }
}

@keyframes text-gradient-animation {
  0% {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
      1px 1px 0 #fff;
  }
  20% {
    text-shadow: -1px -1px 0 #f54444, 1px -1px 0 #f54444, -1px 1px 0 #f54444,
      1px 1px 0 #f54444;
  }
  40% {
    text-shadow: -1px -1px 0 #d3de24, 1px -1px 0 #d3de24, -1px 1px 0 #d3de24,
      1px 1px 0 #d3de24;
  }
  60% {
    text-shadow: -1px -1px 0 #24de77, 1px -1px 0 #24de77, -1px 1px 0 #24de77,
      1px 1px 0 #24de77;
  }
  80% {
    text-shadow: -1px -1px 0 #2499de, 1px -1px 0 #2499de, -1px 1px 0 #2499de,
      1px 1px 0 #2499de;
  }
  100% {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
      1px 1px 0 #fff;
  }
}

@keyframes hello {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: 0% center;
  }
}

@keyframes modal-up {
  0% {
    top: 100%;
  }
  100% {
    top: 5em;
  }
}

@keyframes modal-up-mobile {
  0% {
    top: 100%;
  }
  100% {
    top: 30%;
  }
}

@keyframes text-gradient {
  0% {
    color: #ffffff;
  }
  20% {
    color: #f54444;
  }
  40% {
    color: #d3de24;
  }
  60% {
    color: #24de77;
  }
  80% {
    color: #2499de;
  }
  100% {
    color: #ffffff;
  }
}
